@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --zipline-red: #e73c3e;
    /*TO DO - font not working*/
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }

a:link{
  text-decoration: none;
}

/* TO DO - navbar dropdown color after selection
.dropdown-item:link{
  background-color: var(--zipline-red);
} */

.navbar-custom {
    background-color: var(--zipline-red);
  }

#btn-primary {
    background-color: var(--zipline-red);
    border-color: var(--zipline-red);
}

#btn-train {
  background-color: var(--zipline-red);
  border-color: var(--zipline-red);
  text-decoration: underline;
}

#add-training-btn{
  margin-bottom: 10px;
}

#admin-btn{
  margin: 10px;
}

#dropdown-basic-button{
  background-color: var(--zipline-red);
  border-color: var(--zipline-red);
}

#team-search{
  margin: 10px;
}

#team-table{
  margin: 20px;
}

#training-bar {
  background-color: var(--zipline-red);
  border-color: var(--zipline-red);
  width: 100%;
  margin-top: 5px;
}

#link-box{ 
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#train{
  background-color: var(--zipline-red);
  border-color: var(--zipline-red);
  margin-top: 5px;
  color: white;
  font-size: large;
}

#training-box{
  margin-top: 30px;
}

#link{
  color: var(--zipline-red);
}